/* Main section */
$gradient-left-color: #01579b;
$gradient-right-color: #039BE5;

/* Themes */
$theme-portfolio: #ef4b5b;
$theme-about: #039BE5;
$theme-contact: #FCD837;
$theme-foxy: #FFC107;
$theme-acm: #1da9da;
$theme-misis-books: #f96262;
$theme-portfolio-project: #9050ff;
$theme-bank-emulator: #c86dbe;
$theme-npm: #CB3837;