@import "../../../../styles/helpers/all";

:host {
  @extend %ab-layer-block;
  height: $header-height;
  max-height: $header-height;
  z-index: $header-z-index;
  position: relative;
}

@include bem(header) {
  @extend %ab-layer-block;
  width: 100vw;
  background: $header-background-color;
  @if $header-has-shadow {
    box-shadow: $header-shadow;
  }

  @include bem-element(inner) {
    @extend %ab-layer-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include bem-element(section-logo) {
    flex: 2;
    display: block;
    margin-left: $header-right-left-margin;
  }

  @include bem-element(logo) {
    width: 80px;
    height: 70px;
    position: relative;
    top: 3px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    @include transition-only-for(.2s, (background));
  }

  @include bem-element(section-links) {
    @extend %ab-layer-flex;
    flex: 1;
    text-align: right;
    margin-right: $header-right-left-margin;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include media-query(lt-md) {
      flex: 2;
    }

    @include media-query(lt-xs) {
      display: none;
    }
  }

  @include bem-element(link) {
    text-align: center;
    padding: 9px 20px;
    color: map_get($themes-map, $theme-default);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1em;
    white-space: nowrap;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
    box-shadow: none;
    border-radius: 50px;
    @include transition(all .1s $transitionDefaultTimingFunction, color .2s $transitionDefaultTimingFunction, box-shadow .2s $transitionDefaultTimingFunction);

    @each $theme-name, $theme-color in $themes-map {
      .#{$theme-name} & {
        color: map_get($themes-map, $theme-name);

        &:hover, &:focus {
          color: darken(map_get($themes-map, $theme-name), 5%);
        }

        &:active:not(#{get-bem-modifier-full(header, link, active)}) {
          background: map_get($themes-map, $theme-name);
          color: white;
          border-radius: 50px;
        }
      }
    }

    @include bem-modifier(active) {
      box-shadow: inset 0 0 0 2px map_get($themes-map, $theme-default);
      color: map_get($themes-map, $theme-default);

      @each $theme-name, $theme-color in $themes-map {
        .#{$theme-name} & {
          box-shadow: inset 0 0 0 2px map_get($themes-map, $theme-name);
          color: map_get($themes-map, $theme-name);
        }
      }
    }

    @include media-query(lt-sm) {
      font-size: 1em;
    }
  }

  @include bem-element(menu) {
    @extend %ab-layer-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-right: $header-right-left-margin;

    @include media-query(gt-xs) {
      display: none;
    }
  }

  @include bem-element(menu-button) {
    color: map_get($themes-map, $theme-default);
    padding: 8px 12px;
    text-align: center;
    cursor: default;
    user-select: none;

    @each $theme-name, $theme-color in $themes-map {
      #{$theme-name} & {
        color: map_get($themes-map, $theme-name);
      }
    }

    & > i {
      position: relative;
      top: 3px;
      font-size: 40px;
      display: inline-block;
    }
  }
}