<div class="ab-header {{styleService.classes | async}}">
  <div class="ab-header__inner">

    <div class="ab-header__section-logo">
      <a class="ab-header__logo" ab-logo-switcher routerLink="/">{{title}}</a>
    </div>

    <nav class="ab-header__section-links">
      <a class="link ab-header__link" [ngStyle]="styleService.linkStyle | async" routerLink="/me/about" routerLinkActive="ab-header__link_active" i18n>Обо мне</a>
      <a class="link ab-header__link" [ngStyle]="styleService.linkStyle | async" routerLink="/me/portfolio" routerLinkActive="ab-header__link_active" i18n>Портфолио</a>
      <a class="link ab-header__link" [ngStyle]="styleService.linkStyle | async" routerLink="/me/contact" routerLinkActive="ab-header__link_active" i18n>Связаться</a>
      <a class="link ab-header__link" *ngIf="(authState | async) === 1" [ngStyle]="styleService.linkStyle | async" routerLink="/admin" routerLinkActive="ab-header__link_active" i18n>Админ панель</a>
    </nav>

    <div class="ab-header__menu">
      <div class="ab-header__menu-button" role="button" (click)="mobileMenuClick($event)">
        <i class="material-icons md-36">menu</i>
      </div>
    </div>

  </div>
</div>