<div class="ab-admin-portfolio-item">
  <div class="ab-admin-portfolio-item__inner">

    <form #portfolioItemForm="ngForm" (ngSubmit)="save()">

      <div class="form-group">
        <label>ID: <b>{{item.uid}}</b></label>
      </div>

      <div class="form-group">
        <label for="type">Type:</label>
        <select id="type" [(ngModel)]="item.type" name="type">
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" required [(ngModel)]="item.title" name="title">
      </div>

      <div class="form-group">
        <label for="subTitle">Sub Title:</label>
        <input type="text" id="subTitle" class="form-control" required [(ngModel)]="item.subTitle" name="subTitle">
      </div>

      <div class="form-group">
        <label for="shortDescription">Short Description:</label>
        <input type="text" id="shortDescription" class="form-control" required [(ngModel)]="item.shortDescription" name="shortDescription">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" required [(ngModel)]="item.description" name="description"></textarea>
      </div>

      <div class="form-group">
        <label for="demoUrl">Demo Url:</label>
        <input type="text" id="demoUrl" class="form-control" [(ngModel)]="item.demoUrl" name="demoUrl">
      </div>

      <div class="form-area">
        <label><b>Style:</b></label>
        <ab-admin-style [style]="item.style"></ab-admin-style>
      </div>

      <div class="form-area">
        <label><b>Photos:</b></label>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
          <ab-admin-photo *ngFor="let photo of item.photos; let i = index"
                          [photo]="photo"
                          (photoDeleted)="removeEmptyPhoto(photo)"></ab-admin-photo>
        </div>
        <button class="link" (click)="appendEmptyPhoto($event)">+Add</button>
      </div>

      <div class="form-area">
        <label><b>Links:</b></label>
        <ab-admin-source-link *ngFor="let link of item.sourceLinks; let i = index"
                              [sourceLink]="link"
                              (sourceLinkDeleted)="removeSourceLink(link)"
        ></ab-admin-source-link>
        <a class="link" href="#" (click)="appendEmptySourceLink($event)">+Add link</a>
      </div>

      <div class="form-area">
        <label><b>Technologies:</b></label>
        <ab-admin-technology *ngFor="let technology of item.technologies; let i = index"
                             [technology]="technology"
                             [creation]="false"
                             (technologyRemoved)="removeTechnologyFromTheList($event)"
        ></ab-admin-technology>
        <a class="link" href="#" (click)="appendEmptyTechnology($event)">+Add technology</a>
      </div>

      <div class="ab-admin-portfolio-item__tools">
        <button type="submit" class="btn btn-success" [disabled]="!portfolioItemForm.form.valid">Save</button>
        <button type="submit" class="btn btn-success" (click)="deleteItem($event)">Delete</button>
        <button type="submit" class="btn btn-success" (click)="copyItem($event)">Copy</button>
        <button type="submit" class="btn btn-success" (click)="copyItemToOtherLanguages($event)">Copy to other languages</button>
      </div>

    </form>

  </div>
</div>