<div class="ab-mobile-menu {{classes | async}}">
  <div class="ab-mobile-menu__inner">

    <div class="ab-mobile-menu__header">
      <div class="ab-mobile-menu__header-inner">
        <div class="ab-mobile-menu__close">
          <div class="ab-mobile-menu__close-button" role="button" (click)="closeMobileMenu($event)">
            <i class="material-icons md-36">close</i>
          </div>
        </div>
      </div>
    </div>

    <div class="ab-mobile-menu__content">

      <a class="ab-mobile-menu__section-logo" (click)="closeMobileMenu($event)" routerLink="/">
        <img class="image ab-mobile-menu__logo" src="{{(logo | async)?.originalSrc}}" i18n-alt alt="Мой логотип">
      </a>

      <div class="ab-mobile-menu__links">
        <a class="link ab-mobile-menu__link" (click)="closeMobileMenu($event)" routerLink="/me/about" routerLinkActive="ab-mobile-menu__link_active" i18n>Обо мне</a>
        <a class="link ab-mobile-menu__link" (click)="closeMobileMenu($event)" routerLink="/me/portfolio" routerLinkActive="ab-mobile-menu__link_active" i18n>Портфолио</a>
        <a class="link ab-mobile-menu__link" (click)="closeMobileMenu($event)" routerLink="/me/portfolio/1" routerLinkActive="ab-mobile-menu__link_active" i18n>Связаться</a>
      </div>

      <div class="ab-mobile-menu__language-chooser">
        <ab-language-chooser class="theme-dark"></ab-language-chooser>
      </div>

    </div>

  </div>
</div>
