@import "../../../../styles/helpers/all";

:host(.closed) {
  opacity: 0;
  pointer-events: none;

  .#{$bem-block-prefix}mobile-menu {
    transform: scale(.9);
  }
}

:host {
  @extend %ab-layer-block;
  position: fixed;
  z-index: $mobile-menu-z-index;
  opacity: 1;
  pointer-events: auto;
  @include transition-only-for(.2s, (all));

  @include media-query(gt-xs) {
    display: none;
  }
}

@include bem-block(mobile-menu) {
  @extend %ab-layer-block;
  background: white;
  transform: scale(1);

  @include transition-only-for(.2s, (all));

  @include bem-element(inner) {
    @extend %ab-layer-flex;
  }

  @include bem-element(header) {
    @extend %ab-layer-block;
    height: $header-height;
    max-height: $header-height;
  }

  @include bem-element(header-inner) {
    @extend %ab-layer-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include bem-element(close) {
    @extend %ab-layer-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-right: $header-right-left-margin;

    @include media-query(gt-xs) {
      display: none;
    }
  }

  @include bem-element(close-button) {
    color: $header-links-background-color-default;
    padding: 8px 12px;
    text-align: center;
    cursor: default;
    user-select: none;

    .portfolio & {
      color: $header-links-background-color-default;
    }

    .about & {
      color: $header-links-background-color-about;
    }

    & > i {
      position: relative;
      top: 3px;
      font-size: 40px;
      display: inline-block;
    }
  }

  @include bem-element(content) {
    @extend %ab-layer-flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
  }

  @include bem-element(links) {
    @extend %ab-layer-flex;
    width: 80%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: stretch;
  }

  @include bem-element(link) {
    font-size: 1.4em;
    text-align: center;
    display: block;
    padding: 20px 0;
    text-decoration: none;
    white-space: nowrap;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
    @include transition-only-for(.2s, (all));

    &:not(:first-of-type) {
      border-top: 1px solid transparentize(#000, .9);
    }

    @include bem-modifier(active) {
      color: $header-links-background-color-default;

      .portfolio & {
        color: $header-links-background-color-default;
      }

      .about & {
        color: $header-links-background-color-about;
      }
    }
  }

  @include bem-element(section-logo) {
    display: inline-block;
    padding: 20px;
    margin-bottom: 2%;
    margin-bottom: 2vh;
    text-decoration: none;
    border: 0;
  }

  @include bem-element(logo) {
    max-width: 120px;
    display: block;
  }
}