@import "../../../styles/helpers/all";

::selection {
  background-color: map_get($themes-map, about);
  color: #fff;
}

/deep/ ::selection {
  background-color: map_get($themes-map, about);
  color: #fff;
}

:host {
  @extend %ab-layer-block;
  height: auto;
  width: 100vw !important;
  position: relative;

  a.link {
    $theme-color: $theme-about;
    $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
    color: $second-color;

    &:hover {
      color: $theme-color;
    }

    &:active {
      color: $second-color;
    }
  }
}

@include bem(about) {
  @extend %ab-layer-block;
  height: auto;

  @include bem-element(inner) {
  }

  @include bem-element(color-line) {
    height: 6px;
    width: 100%;
    $theme-color: map_get($themes-map, about);
    $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
    @include filter-gradient(map_get($themes-map, about), $second-color, horizontal); // IE6-9
    @include background-image(linear-gradient(to right, map_get($themes-map, about) 0%, $second-color 100%));
  }

  @include bem-element(me) {
    @extend %ab-layer-flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    background-color: white;

    @include media-query(lt-sm) {
      font-size: .8em;
      padding: 48px 0;
    }
    @include media-query(lt-xs) {
      padding: 10vw 0;
    }
  }

  @include bem-element(photo) {
    $theme-color: map_get($themes-map, about);
    $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
    @include filter-gradient(map_get($themes-map, about), $second-color, horizontal); // IE6-9
    @include background-image(linear-gradient(to right, map_get($themes-map, about) 0%, $second-color 100%));
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    padding: 15px;
    width: 300px;
    width: 30vw;
    height: 300px;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
  }

  @include bem-element(photo-inner) {
    border: 5px solid white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;

    /deep/ img {
      border-radius: 50%;
    }
  }

  @include bem-element(name) {
    font-family: merge-fonts-stack('Comfortaa', $fonts-stack);
    text-transform: uppercase;
    margin-top: 4%;
    color: #444;
    text-align: center;
    font-size: 3em;
  }

  @include bem-element(position) {
    font-size: 2em;
    color: map_get($themes-map, about);
    font-family: merge-fonts-stack('Poiret One', $fonts-stack);

    > span:first-of-type {
      font-weight: 500;
    }
  }

  @include bem-element(arrow-down) {
    margin-top: 3%;
    cursor: default;
    user-select: none;

    > i {
      color: rgba(0,0,0,0.7);
    }
  }

  @include bem-element(cards) {
    display: flex;
    margin-top: 16px;
    padding: 0 16px 16px;
    box-sizing: border-box;
    width: 100%;

    @include media-query(lt-sm) {
      flex-direction: column-reverse;
    }
  }

  @include bem-element(cards-section) {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;

    &:first-of-type {
      margin-right: 16px;
    }

    @include media-query(lt-sm) {
      &:first-of-type {
        margin-right: 0;
      }
    }
  }

  @include bem-element(card) {
    display: inline-block;
    padding: 24px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 16px;
    width: 100%;
  }

  @include bem-element(card-content) {
    margin-top: 30px;
  }

  @include bem-element(card-text) {
    font-family: $fonts-stack-text; //merge-fonts-stack('Ubuntu', $fonts-stack-text);
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    text-align: justify;
  }

  @include bem-element(skills-category) {
    &:not(:first-of-type) {
      margin-top: 24px;

      @include media-query(lt-xs) {
        margin-top: 12px;
      }
    }
  }

  @include bem-element(skills-label) {
    $theme-color: $theme-about;
    $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
    background-color: $second-color;
    position: relative;
    display: inline-block;
    padding: 4px 10px;
    color: white;

    > span:last-of-type {
      font-size: .6em;
    }

    @include bem-modifier(info) {
      line-height: 1em;
    }
  }

  @include bem-element(skills-items) {
    padding: 8px 0 0;
  }

  @include bem-element(skill) {
    $margin: 0px;
    padding: 2px 2px 8px;
    box-sizing: border-box;
    contain: content;
    display: inline-block;
    position: relative;
    min-height: 40px;
    margin: $margin $margin 0 0;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      $theme-color: map_get($themes-map, about);
      $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
      @include filter-gradient(map_get($themes-map, about), $second-color, horizontal); // IE6-9
      @include background-image(linear-gradient(to right, map_get($themes-map, about) 0%, $second-color 100%));
    }

    @for $i from 1 through 100 {
      [grid-columns="#{$i}"] & {
        width: calc((100% - (#{$margin} * (#{$i} - 1))) / #{$i});
      }

      &[data-skill-value="#{$i}"]:hover {
        $first-color: hsl($i, 100%, 50%);
        $second-color: hsl(hue($first-color) + 10, saturation($first-color), lightness($first-color));
        @include filter-gradient($first-color, $second-color, horizontal);
        @include background-image(linear-gradient(to right, $first-color 0%, $second-color 100%));
      }
    }

    @include media-query(lt-xs) {
      min-height: 200px;
    }
  }

  @include bem-element(skill-inner) {
    padding: 14px;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
  }

  @include bem-element(skill-photo) {
    margin-bottom: 10px;
  }

  @include bem-element(skill-name) {
    text-align: center;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
  }

  /**
   * Job experience
   */
  @include bem-element(job-list) {
    margin: 0;
    padding: 0;
  }

  @include bem-element(job-item) {
    list-style: none;
    margin-left: 40px;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 48px;
    }

    @include media-query(lt-xs) {
      margin-left: 20px;
    }
  }

  @include bem-element(job-period) {
    $theme-color: $theme-about;
    $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
    position: relative;
    left: -40px;
    background-color: $second-color;
    display: inline-block;
    padding: 4px 10px 6px;
    color: white;

    @include media-query(lt-xs) {
      left: -20px;
    }

    > span {
      display: block;

      &:last-of-type {
        font-size: .6em;
      }
    }
  }

  @include bem-element(job-info) {
    margin-top: 8px;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack-text);
    font-weight: 300;
    font-style: normal;
    line-height: 1.58;
  }

  @include bem-element(job-company-name) {
    font-weight: 500;
    font-size: 1.3em;
  }

  @include bem-element(job-site) {
    margin-bottom: 4px;
  }

  @include bem-element(job-position) {
    font-weight: 400;
    font-size: 1.1em;
  }

  @include bem-element(job-role) {
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack-text);
    font-size: 1em;
    line-height: 1.58;
    word-break: keep-all;
    margin-top: 3px;

    @include media-query(lt-xs) {
      font-size: .9em;
      line-height: 1.45;
    }
  }

  @include bem-element(job-role-list) {
    margin: 0 0 0 40px;
    padding: 0;
    position: relative;
  }

  @include bem-element(job-role-list-item) {
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 3px;
    }
  }

  @include bem-element(job-role-list-style) {
    position: absolute;
    left: -40px;
    user-select: none;

    > i {
      $theme-color: $theme-about;
      $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
      color: $second-color;
      position: relative;
      top: 2px;
    }
  }

  /**
  * Education history
   */
  @include bem-element(education-list) {
    margin: 0;
    padding: 0;
  }

  @include bem-element(education-item) {
    list-style: none;
    margin-left: 40px;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 48px;
    }

    @include media-query(lt-xs) {
      margin-left: 20px;
    }
  }

  @include bem-element(education-period) {
    $theme-color: $theme-about;
    $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
    position: relative;
    left: -40px;
    background-color: $second-color;
    display: inline-block;
    padding: 4px 10px 6px;
    color: white;

    @include media-query(lt-xs) {
      left: -20px;
    }

    > span {
      display: block;

      &:last-of-type {
        font-size: .6em;
      }
    }
  }

  @include bem-element(education-info) {
    margin-top: 8px;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack-text);
    font-weight: 300;
    font-style: normal;
    line-height: 1.58;
  }

  @include bem-element(education-degree) {
    font-weight: 500;
    font-size: 1.3em;
  }

  @include bem-element(education-faculty) {
    font-size: .8em;
  }

  @include bem-element(education-university) {
    font-weight: 400;
    font-size: 1.1em;
  }
}