<div class="ab-about theme-about">

  <div class="ab-about__color-line"></div>

  <div class="ab-about__inner">

    <div class="ab-about__me">

      <div class="ab-about__photo">
        <div class="ab-about__photo-inner">
          <ab-image [abImageSrc]="'/assets/ui/images/me.png'"></ab-image>
        </div>
      </div>

      <div class="ab-about__name" i18n>
        Александр Белов
      </div>

      <div class="ab-about__position">
        <span>JavaScript</span>
        <span i18n>разработчик</span>
      </div>

      <div class="ab-about__arrow-down">
        <i class="material-icons md-30">keyboard_arrow_down</i>
      </div>

    </div>

    <div class="ab-about__cards">

      <div class="ab-about__cards-section">
        <div class="ab-about__card ab-about__about-me">
          <ab-portfolio-item-card-title i18n>О себе</ab-portfolio-item-card-title>
          <div class="ab-about__card-content">
            <div class="ab-about__card-text" i18n>
              Активно развиваюсь в мире Frontend разработки и иду в ногу со временем почти со всеми технологиями, которые в данный момент предоставляет web.
              Мой интерес к этой области начался еще со школы, когда я прикоснулся к верстке.
              Кроме этого увлекаюсь машинным обучением: разными типами нейронных сетей, их обучением и поиском задач для применения машинного обучения.
              Недавно стал активно интересоваться технологией Blockchain и ее применением.
              Люблю создавать что-то полезное и очень качественное, чтобы этим могли пользоваться люди и получать удовольствие от процесса использования продукта.
              <br><br>
              В свободное время читаю разного спектра литературу: от классической до профессиональной.
              12 лет профессионально занимался хоккеем (вратарь).
              Обожаю хоккей, продолжительные вечерние прогулки на велосипеде под хорошую музыку и хорошо отдохнуть с друзьями!
              <br><br>
              <u>О личных качествах</u>: сразу могу отметить внимательность к деталям — характеристика, которая заставляет меня делать что-то как можно лучше, чтобы поднять интерес к моей деятельности;
              имею аналитические способности, способность к быстрому обучению, самоконтроль и самокритичность, а также чувство юмора.
            </div>
          </div>
        </div>

        <div class="ab-about__card ab-about__job-experience">
          <ab-portfolio-item-card-title i18n>Опыт работы</ab-portfolio-item-card-title>
          <div class="ab-about__card-content">
            <div class="ab-about__jobs">
              <ul class="list ab-about__job-list">

                <li class="ab-about__job-item">
                  <div class="ab-about__job-period">
                    <span>Октябрь 2017&nbsp;— настоящее время</span>
                    <span>В течение 2 месяцев</span>
                  </div>
                  <div class="ab-about__job-info">
                    <div class="ab-about__job-company-name">Вечерняя стажировка по Blockchain</div>
                    <div class="ab-about__job-position">Внешэкономбанк</div>
                    <div class="ab-about__job-role">
                      <ul class="list ab-about__job-role-list">

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>Обучение и практика технологии Blockchain</div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </li>

                <li class="ab-about__job-item">
                  <div class="ab-about__job-period">
                    <span>Март 2017&nbsp;— октябрь 2017</span>
                    <span>7 месяцев</span>
                  </div>
                  <div class="ab-about__job-info">
                    <div class="ab-about__job-company-name">Собственные проекты. Учёба.</div>
                    <div class="ab-about__job-role">
                      <ul class="list ab-about__job-role-list">
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>
                            <span>Поддержка и добавление нового функционала тестирующей системы</span>
                            <a target="_blank" class="link" href="http://contest.misis.ru">MISIS ACM Contest</a>
                          </span>
                        </li>
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>
                            HTML5 игра
                            <a target="_blank" class="link" href="http://play.alexbelov.xyz/#session=2e9691762075c12feb3502da">Tricky Foxy</a>
                            на WebGL (доступна в <a target="_blank" class="link" href="https://t.me/foxgamebot">Telegram</a>)
                          </span>
                        </li>
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>
                            Разработка клиент-серверной многопользовательской
                            <a target="_blank" class="link" href="https://github.com/IPRIT/spaw.io">игры</a>
                            на Phaser.js (в процессе)
                          </span>
                        </li>
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>
                            <div>Самостоятельное изучение новых технологий:</div>
                            <ul>
                              <li>Изучение Angular 2/4</li>
                              <li>Изучение TypeScript</li>
                              <li>Изучение Pixi.js</li>
                              <li>Изучение Phaser.js</li>
                              <li>Google Cloud</li>
                              <li>Firebase Storage/Functions</li>
                            </ul>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>

                <li class="ab-about__job-item">
                  <div class="ab-about__job-period">
                    <span>Февраль 2016&nbsp;— март 2017</span>
                    <span>1 год 1 месяц</span>
                  </div>
                  <div class="ab-about__job-info">
                    <div class="ab-about__job-company-name">Perfekt Pty Ltd.</div>
                    <div class="ab-about__job-site">
                      <a class="link" href="https://www.perfekt.com.au/">www.perfekt.com.au</a>
                    </div>
                    <div class="ab-about__job-position">Frontend-разработчик</div>
                    <div class="ab-about__job-role">
                      <ul class="list ab-about__job-role-list">

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Игровая платформа WeekendBinary:</div>
                            <ul>
                              <li>Создание мобильной версии игры на React с использованием socket.io API.</li>
                              <li>Нагрузочное тестирование приложения через socket.io с использованием Apache JMeter.</li>
                            </ul>
                          </div>
                        </li>

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Краудбанковское приложение:</div>
                            <ul>
                              <li>Создание мокапов для Frontend-приложения (мобильная и desktop версии).</li>
                              <li>Создание AngularJS приложения с использованием AngularJS Material (ES7).</li>
                              <li>Написание protractor-тестов для CI.</li>
                            </ul>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </li>

                <li class="ab-about__job-item">
                  <div class="ab-about__job-period">
                    <span>Сентябрь 2015&nbsp;— декабрь 2015</span>
                    <span>4 месяца</span>
                  </div>
                  <div class="ab-about__job-info">
                    <div class="ab-about__job-company-name">Преподавание Frontend</div>
                    <div class="ab-about__job-site">
                      Лига разработчиков НИТУ «МИСиС»
                    </div>
                    <span>Обучение студентов:</span>
                    <div class="ab-about__job-role">
                      <ul class="list ab-about__job-role-list">

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Основам HTML/JavaScript</div>
                          </div>
                        </li>

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Возможностям HTML5</div>
                          </div>
                        </li>

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Node.js для Frontend-разработчика</div>
                          </div>
                        </li>

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Ajax/JSONP/WebSockets</div>
                          </div>
                        </li>

                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <div>
                            <div>Angular.js</div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </li>

                <li class="ab-about__job-item">
                  <div class="ab-about__job-period">
                    <span>2012&nbsp;— август 2015</span>
                    <span>3 года</span>
                  </div>
                  <div class="ab-about__job-info">
                    <div class="ab-about__job-company-name">Собственные проекты. Учёба.</div>
                    <div class="ab-about__job-role">
                      <ul class="list ab-about__job-role-list">
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>
                            <span>Электронная библиотека НИТУ «МИСиС»</span>
                            <a target="_blank" class="link" href="http://twosphere.ru">MISIS Books</a>
                          </span>
                        </li>
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>
                            Олимпиадное программирование. Участие в чемпионатах мира по программированию ACM ICPC
                          </span>
                        </li>
                        <li class="ab-about__job-role-list-item">
                          <div class="ab-about__job-role-list-style">
                            <i class="material-icons md-24">done</i>
                          </div>
                          <span>Самостоятельное изучение технологий</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="ab-about__card ab-about__education">
          <ab-portfolio-item-card-title i18n>Образование</ab-portfolio-item-card-title>
          <div class="ab-about__card-content">
            <div class="ab-about__education-history">
              <ul class="list ab-about__education-list">

                <li class="ab-about__education-item">
                  <div class="ab-about__education-period">
                    <span>Сентябрь 2016&nbsp;— настоящее время</span>
                    <span>2 года</span>
                  </div>
                  <div class="ab-about__education-info">
                    <div class="ab-about__education-degree">
                      Прикладная информатика (Кафедра Инженерной Кибернетики)
                    </div>
                    <div>Магистр прикладной информатики</div>
                    <div class="ab-about__education-university">
                      Национальный исследовательский технологический университет «МИСиС»,
                      Москва
                    </div>
                  </div>
                </li>

                <li class="ab-about__education-item">
                  <div class="ab-about__education-period">
                    <span>Сентябрь 2012&nbsp;— июнь 2016</span>
                    <span>4 года</span>
                  </div>
                  <div class="ab-about__education-info">
                    <div class="ab-about__education-degree">
                      Прикладная математика (Кафедра Инженерной Кибернетики)
                    </div>
                    <div>Бакалавр прикладной математики</div>
                    <div class="ab-about__education-university">
                      Национальный исследовательский технологический университет «МИСиС»,
                      Москва
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="ab-about__cards-section">
        <div class="ab-about__card ab-about__skills">
          <ab-portfolio-item-card-title i18n>Навыки</ab-portfolio-item-card-title>
          <div class="ab-about__card-content">

            <div class="ab-about__skills-category">
              <div class="ab-about__skills-label ab-about__skills-label_info">
                <span i18n>JavaScript фреймворки</span>
                <br>
                <span i18n>В порядке уровня владения</span>
              </div>
              <div class="ab-about__skills-items" ab-grid-listener [abGridItemMax]="130" [abGridItemMin]="130">
                <a class="ab-about__skill" target="_blank" *ngFor="let skill of frameworks | async" [attr.data-skill-value]="skill?.priority" href="{{ skill?.link }}">
                  <div class="ab-about__skill-inner">
                    <div class="ab-about__skill-photo">
                      <ab-image [abImageModel]="skill?.photo"></ab-image>
                    </div>
                    <div class="ab-about__skill-name">{{skill?.name}}</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="ab-about__skills-category">
              <div class="ab-about__skills-label" i18n>Технологии и библиотеки</div>
              <div class="ab-about__skills-items" ab-grid-listener [abGridItemMax]="130" [abGridItemMin]="130">
                <a class="ab-about__skill"  target="_blank" *ngFor="let skill of librariesAndTechnologies | async" [attr.data-skill-value]="skill?.priority" href="{{ skill?.link }}">
                  <div class="ab-about__skill-inner">
                    <div class="ab-about__skill-photo">
                      <ab-image [abImageModel]="skill?.photo"></ab-image>
                    </div>
                    <div class="ab-about__skill-name">{{skill?.name}}</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="ab-about__skills-category">
              <div class="ab-about__skills-label" i18n>Сервисы</div>
              <div class="ab-about__skills-items" ab-grid-listener [abGridItemMax]="130" [abGridItemMin]="130">
                <a class="ab-about__skill" target="_blank" *ngFor="let skill of services | async" href="{{ skill?.link }}">
                  <div class="ab-about__skill-inner">
                    <div class="ab-about__skill-photo">
                      <ab-image [abImageModel]="skill?.photo"></ab-image>
                    </div>
                    <div class="ab-about__skill-name">{{skill?.name}}</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="ab-about__skills-category">
              <div class="ab-about__skills-label" i18n>Прочее</div>
              <div class="ab-about__skills-items" ab-grid-listener [abGridItemMax]="130" [abGridItemMin]="130">
                <a class="ab-about__skill" target="_blank" *ngFor="let skill of others | async" href="{{ skill?.link }}">
                  <div class="ab-about__skill-inner">
                    <div class="ab-about__skill-photo">
                      <ab-image [abImageModel]="skill?.photo"></ab-image>
                    </div>
                    <div class="ab-about__skill-name">{{skill?.name}}</div>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
