/* Base styles */

@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/functions";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-family: $fonts-stack;
  overflow-x: hidden;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-size: 18px;
  line-height: 1.4;
  color: transparentize(#000, .2);
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparentize(#000, .76);
}

a, button, input {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

b, strong {
  font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
  font-weight: 500;
}

u {
  text-decoration-skip: ink;
}

::selection {
  background-color: #ff5f57;
  color: #fff;
}

@each $theme-name, $theme-color in $themes-map {
  .theme-#{$theme-name} {
    /deep/ a.link, a.link {
      $second-color: hsl(hue($theme-color) - 10, saturation($theme-color), lightness($theme-color));
      color: $second-color;

      &:hover {
        color: $theme-color;
      }

      &:active {
        color: $second-color;
      }
    }
  }
}