<div class="ab-main">

  <ab-mobile-menu [stateOpen]="isMobileMenuOpen" (onMobileMenuClosed)="setMobileMenuState($event)" [class.closed]="!isMobileMenuOpen"></ab-mobile-menu>

  <div class="ab-main__inner">

    <div class="ab-main__mobile-menu">
      <div class="ab-main__mobile-menu-button" (click)="setMobileMenuState($event)">
        <i class="material-icons md-36">menu</i>
      </div>
    </div>

    <!--<div class="ab-main__language-chooser">
      <ab-language-chooser></ab-language-chooser>
    </div>-->

    <div class="ab-main__centered-content">
      <div class="ab-main__ab-logo">
        <img class="image ab-main__logo-src" draggable="false" src="./assets/ui/images/logo-main.png" i18n-alt alt="Main logo">
      </div>
      <div class="ab-main__links">
        <div class="ab-main__link-item">
          <a class="link ab-main__link" routerLink="/me/about">
            <span i18n>Обо мне</span>
          </a>
        </div>
        <div class="ab-main__link-item">
          <a class="link ab-main__link" routerLink="/me/portfolio">
            <span i18n>Портфолио</span>
          </a>
        </div>
        <div class="ab-main__link-item">
          <a class="link ab-main__link" routerLink="/me/contact">
            <span i18n>Связаться</span>
          </a>
        </div>
      </div>
      <div class="ab-main__cv-wrapper">
        <div class="ab-main__cv">
          <a class="link ab-main__cv-download" role="button" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/abportfolio-4514e.appspot.com/o/%D0%91%D0%B5%D0%BB%D0%BE%D0%B2%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87.pdf?alt=media&token=af099b16-f98b-4766-bb14-61fe6a332d35" i18n>резюме</a>
        </div>
      </div>

    </div>

  </div>
</div>
