@import "../../styles/helpers/all";
@import "../../styles/components/fonts/ubuntu";

:host {
  @extend %ab-layer-block;
  background: white;
  position: relative;
}

@include bem(main) {
  $block-scope: unwrap-scope(&);

  @extend %ab-layer-block;
  @include filter-gradient(#18a76f, #13708f, horizontal); // IE6-9
  @include background-image(linear-gradient(to right, $gradient-left-color 0%, $gradient-right-color 100%));

  @include bem-element(inner) {
    @extend %ab-layer-block;
    background: url('#{$images-path}/clouds-no-repeat-v2.png') no-repeat;
    background-size: contain;
    background-position: bottom center;

    @include media-query(gt-md) {
      //background-size: 110%;
      background-position: center 110%;
    }
    @include media-query(gt-xl) {
      background-size: 80%;
      background-position: center 110%;
    }
    @include media-query(lt-md) {
      background-size: 120%;
      background-position: center 110%;
    }
    @include media-query(lt-sm) {
      background-size: 150%;
      background-position: center 100%;
    }
    @include media-query(lt-xs) {
      background-size: 160%;
      background-position: center bottom;
    }
  }

  @include bem-element(centered-content) {
    max-width: 700px;
    margin: 0 auto;
  }

  @include bem-element(ab-logo) {
    padding: 100px 20px 20px;
    text-align: center;
  }

  @include bem-element(logo-src) {
    max-width: 300px;
    width: 80%;
    user-select: none;

    @include media-query(lt-xs) {
      width: 60%;
    }
  }

  @include bem-element(links) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    @include media-query(lt-xs) {
      display: none;
    }
  }

  @include bem-element(link-item) {
    flex: 1;
    text-align: center;
    $stop-colors: ($gradient-left-color, mix($gradient-left-color, $gradient-right-color), $gradient-right-color);
    @for $index from 1 through length($stop-colors) {
      &:nth-of-type(#{$index}) {
        #{$block-scope}__link {
          &:active > span {
            color: nth($stop-colors, $index);
          }
        }
      }
    }
  }

  @include bem-element(link) {
    display: inline-block;
    padding: 9px 29px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);

    & > span {
      @extend %magic-link;
      color: white;
    }

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .8;
      background: white;
      border-radius: 50px;
    }
  }

  @include bem-element(cv-wrapper) {
    text-align: center;
    margin-top: 100px;

    @include media-query(lt-xs) {
      margin-top: 30px;
    }
  }

  @include bem-element(cv) {
    display: inline-block;
    position: relative;
    height: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      z-index: 2;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-size: 79px;
    }

    &:before {
      background-image: url('#{$images-path}/cv-download-button-left.png');
      background-position: left bottom;
      transform: translate(-15px, 15px);
    }

    &:after {
      background-image: url('#{$images-path}/cv-download-button-right.png');
      background-position: right bottom;
      transform: translate(15px, 15px);
    }

    &:hover {
      opacity: 1;
    }
  }

  @include bem-element(cv-download) {
    $color: white;
    display: inline-block;
    border-radius: 50px;
    padding: 13px 40px;
    text-transform: uppercase;
    color: $color;
    border: 5px solid $color;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
    font-weight: 500;
    text-decoration: none;
    @include transition-only-for(.1s, (transform));
    backface-visibility: hidden;
    transform: scale(1);
    transform-origin: 50% 50%;

    &:active {
      //background: white;
      opacity: .8;
      //color: mix($gradient-left-color, $gradient-right-color);
      transform: scale(.92) translateY(-5px);
    }
  }
}
