@import "../../styles/helpers/all";

:host {
  @extend %ab-layer-block;
  background: white;
  position: relative;
}

@include bem(main) {
  @extend %ab-layer-block;
  $block-scope: unwrap-scope(&);

  background-color: $gradient-right-color;
  @include filter-gradient($gradient-right-color, $gradient-left-color, horizontal);
  @include background-image(radial-gradient(ellipse, $gradient-right-color, $gradient-left-color));

  @include bem-element(inner) {
    @extend %ab-layer-block;
    background: url('#{$images-path}/clouds-no-repeat-v2.png') no-repeat bottom center;
    background-size: contain;

    @include media-query(gt-md) {
      background-position: center 110%;
    }
    @include media-query(gt-xl) {
      background-size: 80%;
      background-position: center 110%;
    }
    @include media-query(lt-md) {
      background-size: 120%;
      background-position: center 110%;
    }
    @include media-query(lt-sm) {
      background-size: 150%;
      background-position: center 100%;
    }
    @include media-query(lt-xs) {
      background-size: 160%;
      background-position: center bottom;
    }
    @media screen and (min-width: $layout-breakpoint-xs) and (max-height: 700px){
      background: none;
    }
  }

  @include bem-element(centered-content) {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 100px;
    padding-top: 10vh;

    @include media-query(lt-xs) {
      padding-top: 200px;
      padding-top: 20vh;
    }
  }

  @include bem-element(ab-logo) {
    padding: 0 20px 20px;
    text-align: center;
  }

  @include bem-element(logo-src) {
    max-width: 300px;
    width: 80%;
    user-select: none;

    @include media-query(lt-xs) {
      width: 55%;
    }
  }

  @include bem-element(links) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    @include media-query(lt-xs) {
      display: none;
    }
  }

  @include bem-element(link-item) {
    flex: 1;
    text-align: center;
    $stop-colors: ($gradient-left-color, $gradient-right-color, $gradient-left-color);
    @for $index from 1 through length($stop-colors) {
      &:nth-of-type(#{$index}) {
        #{$block-scope}__link {
          &:active {
            & > span {
              color: nth($stop-colors, $index);
            }
          }
        }
      }
    }
  }

  @include bem-element(link) {
    display: inline-block;
    padding: 9px 29px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);

    & > span {
      @extend %magic-link;
      color: white;
    }

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .8;
      background-color: lighten($gradient-left-color, 95%);
      border-radius: 50px;
      & > span {
        @extend %reset-magic-link;
      }
    }
  }

  @include bem-element(cv-wrapper) {
    text-align: center;
    margin-top: 90px;
    margin-top: 7vh;

    @include media-query(lt-xs) {
      margin-top: 30px;
    }
  }

  @include bem-element(cv) {
    display: inline-block;
    position: relative;
    height: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      z-index: 2;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-size: 74px;

      @include media-query(lt-xs) {
        background-size: 68px;
      }
    }

    &:before {
      background-image: url('#{$images-path}/cv-download-button-left.png');
      background-position: left bottom;
      transform: translate(-15px, 15px);

      @include media-query(lt-xs) {
        transform: translate(-13px,13px);
      }
    }

    &:after {
      background-image: url('#{$images-path}/cv-download-button-right.png');
      background-position: right bottom;
      transform: translate(15px, 15px);

      @include media-query(lt-xs) {
        transform: translate(13px,13px);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  @include bem-element(cv-download) {
    $color: #e5f4fb;
    display: inline-block;
    border-radius: 50px;
    padding: 9px 40px;
    text-transform: uppercase;
    color: $color;
    border: 6px solid $color;
    font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
    font-weight: 500;
    text-decoration: none;
    backface-visibility: hidden;
    transform: scale(1);
    transform-origin: 50% 50%;

    @include transition-only-for(.1s, (transform));

    @include media-query(lt-xs) {
      font-size: .9em;
      padding: 8px 30px;
    }

    &:active {
      opacity: .8;
      transform: scale(.92) translateY(-5px);
    }
  }

  @include bem-element(mobile-menu) {
    position: absolute;
    width: 48px;
    height: 48px;
    text-align: center;
    right: 50px;
    top: 30px;

    @include media-query(gt-xs) {
      display: none;
    }
  }

  @include bem-element(mobile-menu-button) {
    color: white;
    padding: 8px 12px;
    text-align: center;
    cursor: default;
    user-select: none;

    & > i {
      position: relative;
      top: 3px;
      font-size: 40px;
      display: inline-block;
    }
  }

  @include bem-element(language-chooser) {
    position: absolute;
    top: 0;
    left: 0;

    @include media-query(lt-xs) {
      display: none;
    }
  }
}
