@import "../../styles/helpers/all";

:host {
  @extend %ab-layer-block;
  background: $page-background-color;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

@include bem(me) {
  @extend %ab-layer-block;
  width: 100vw;
}