<div class="ab-admin-photo-uploader">

  <div class="ab-admin-photo-uploader__remove" (click)="removePhoto()">
    <i class="material-icons md-24">delete</i>
  </div>

  <div *ngIf="photo && photo.originalSrc">

    <div [ngSwitch]="photo?.type">
      <div *ngSwitchCase="'video'">
        <video autoplay muted onloadedmetadata="this.muted = true" controls loop class="ab-admin-photo-uploader__original-photo" src="{{ photo?.originalSrc }}"></video>
      </div>
      <div *ngSwitchDefault>
        <img class="ab-admin-photo-uploader__original-photo" src="{{photo.originalSrc}}" [attr.alt]="photo.title">
        <img class="ab-admin-photo-uploader__thumbnail-photo" src="{{photo.thumbnailSrc}}" [attr.alt]="photo.title">
      </div>
    </div>

    <div class="form-group">
      <label for="title">Comment:</label>
      <textarea id="title" class="form-control" required [(ngModel)]="photo.title" name="title"></textarea>
    </div>
  </div>

  <div *ngIf="!photo || !photo.originalSrc">
    <input (change)="handleFileSelect($event)" type="file" id="file" name="file" accept="image/*"/>
  </div>
</div>