<div class="ab-portfolio-item-mock">

  <div class="ab-portfolio-item-mock__inner">
    <div class="ab-portfolio-item-mock__animation-mask"></div>
    <div class="ab-portfolio-item-mock__text-layout">
      <div class="ab-portfolio-item-mock__title"></div>
      <div class="ab-portfolio-item-mock__subtitle"></div>
      <div class="ab-portfolio-item-mock__title-delimiter"></div>
      <div class="ab-portfolio-item-mock__short-description"></div>
      <div class="ab-portfolio-item-mock__short-description"></div>
      <div class="ab-portfolio-item-mock__short-description"></div>
    </div>
  </div>
  
</div>