<div class="ab-portfolio">
  <div class="ab-portfolio__inner">

    <div>
      <div class="ab-portfolio__title">
        <h3 class="ab-portfolio__title-text" i18n>Мои проекты</h3>
        <div class="ab-portfolio__title-line"></div>
      </div>

      <div *ngIf="(portfolioAppItems | async)?.length > 0" class="ab-portfolio__items" ab-grid-listener [abGridItemMin]="320" [abGridItemMax]="320">
        <ab-portfolio-item *ngFor="let item of portfolioAppItems | async" [item]="item"></ab-portfolio-item>
      </div>

      <div *ngIf="(portfolioItems | async) === null" class="ab-portfolio__items" ab-grid-listener [abGridItemMin]="320" [abGridItemMax]="320">
        <ab-portfolio-item-mock *ngFor="let item of [1, 2, 3, 4, 5]"></ab-portfolio-item-mock>
      </div>
    </div>

    <div style="margin-top: 48px;">
      <div class="ab-portfolio__title">
        <h3 class="ab-portfolio__title-text" i18n>Прочее</h3>
        <div class="ab-portfolio__title-line"></div>
      </div>

      <div *ngIf="(portfolioLibItems | async)?.length > 0" class="ab-portfolio__items" ab-grid-listener [abGridItemMin]="320" [abGridItemMax]="320">
        <ab-portfolio-item *ngFor="let item of portfolioLibItems | async" [item]="item"></ab-portfolio-item>
      </div>

      <div *ngIf="(portfolioItems | async) === null" class="ab-portfolio__items" ab-grid-listener [abGridItemMin]="320" [abGridItemMax]="320">
        <ab-portfolio-item-mock *ngFor="let item of [1, 2]"></ab-portfolio-item-mock>
      </div>
    </div>

  </div>
</div>
