<div class="ab-portfolio">
  <div class="ab-portfolio__inner">

    <div class="ab-portfolio__title">
      <h3 class="ab-portfolio__title-text" i18n>Мои проекты</h3>
      <div class="ab-portfolio__title-line"></div>
    </div>

    <div class="ab-portfolio__items" ab-grid-listener [abGridItemMin]="320" [abGridItemMax]="320">

      <ab-portfolio-item *ngFor="let item of portfolioItems | async" [item]="item"></ab-portfolio-item>

    </div>

    <div *ngIf="(portfolioItems | async) === null" class="ab-portfolio__items" ab-grid-listener [abGridItemMin]="320" [abGridItemMax]="320">

      <ab-portfolio-item *ngFor="let item of [1, 2]" [item]="false"></ab-portfolio-item>

    </div>

  </div>
</div>
